# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\2021厦门国际银行数创金融杯金融营销建模大赛\2021_Xiamen_International_Bank_Digital_Creative_Finance_Cup-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
